body {
    text-align: center; 
    font-family: palatino linotype;
    background-color: #f7f0fc; 
}
h1 {
    color: #4B0082;
    font-family: Cooper std;
    font-size: 30px;
}
h2 {
    font-family: Britannic;
    color: #C5B4E3;
    font-size: 25px;
}
ul {
    list-style: none;
}
img {
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: #4B0082;
}
.container {
    width: 700px;
    margin: 40px auto;
}
.card {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}
.button {
    background-color: #4B0082;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
}
.button:hover {
    background-color: #f7f0fc;
    color: #4B0082;  
}
.in-line {
    list-style: none;
    padding: 0px;
}
.in-line li {
    display: inline;
    padding: 10px;
}
.in-line i{
    font-size: 60px;
}
.in-line i:hover{
    color: #f7f0fc;
}
@media (max-width: 760PX) {
    .container {
        width: 650px;
    }
}
@media (max-width: 650PX) {
    .container {
        width: 390px;
    }
}



